* {
    box-sizing: border-box;
}
    
body {    
    font-family: "Montserrat", serif;
    color: #FFFFFF;
    background-color: #0B1D26;       
}

.container {
    display: flex;
    flex-direction: column;
    gap: 200px;
    width: 70%;   
    margin: auto;    
    margin-top: -5%;
    position: relative;
    background-color: transparent;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}
.logo {
    cursor: pointer;
}
.header {
    width: 100%;
    display:block;
    position:absolute;
    top:0;
    z-index: 1;
    background-color: transparent;
}

.top-container {
    width: 90%;
    margin: auto;
    padding: 64px 80px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    width: 350px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav--visible {
    display: none;
}

.header-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}

.menu-button {
    display: none;    
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
    background-color: transparent;
    border: none;
}
.menu-line {
    width: 50px;
    height: 2px;
    background-color: #fff;
}
.header-account {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100px;
}

.main-gradient {
    width: 100%;
    display:block;
    position:absolute;
    top:0;
    z-index: -1;
}
.main-mountains {
    width: 100%;
    display:block;
    position:absolute;
    top:0;
    z-index: -2;
}
.main-darkness {
    display:block;
    position:absolute;
    top: 110%;
    width: 100%;    
    z-index: -1;
}
.main-darkness img {
    width: 100%;
    height: 100%;
}
.main-box {
    margin-top: 287px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.main-socials {
    position: fixed;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.main-socials span {
    font-size: 18px;
    font-weight: bold;
    writing-mode: vertical-rl
}
.main-socials img {
    width: 24px;
}
.main-content {
    max-width: 1400px;
    height: 200px;
    padding-right: 30px;
    padding-left: 30px;
    align-self: center;    
}
.main-title {
    margin: 32px 0;
    font-family: "STIX Two Text", serif;
    font-size: 130px;
    line-height: 150px;
    font-weight: 500;
}
.content-subtitile {
    display: flex;
    gap: 32px;
    align-items: center;
}
.content-subtitile--line {
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}
.content-subtitile--span {
    font-size: 18px;
    font-weight: bold;
    color: #FBD784;
    letter-spacing: 6px;
}
.main-button {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
}
.main-button span {    
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}
.main-icon {
    width: 16px;
    height: 24px;
}
.main-scrollbar {
    position: fixed;
    right: 5%;
    width: 80px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;    
}
.main-scrolltext {       
    font-size: 18px;
    font-weight: 700;
    align-self: center;
}
.main-scrollcontent {
    display: flex;
    gap: 32px;
}
.main-scrollline {
    width: 1px;
    height: 60px;
    background-color: #fff;
}

.articles {
    margin-top: 70%;
}

.articles-darkness {    
    max-height: 2600px;
    width: 100%;
    background-color: #0B1D26;
}
.article-box {
    margin-top: -20%;
    margin-bottom: 20%;
    display: flex;
    justify-content: space-between;    
    gap: 114px;
        
}
.article-content {
    position: relative;
    padding: 140px 0 140px 150px;
    display: flex;
    flex-direction: column;
    gap: 27px;    
}
.article-image {
    width: 120%;    
    overflow: hidden;
}
.article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article-count {
    position: absolute;
    margin-top: -130px;
    margin-left: -165px;
    opacity: 10%;
}
.article-count span {
    font-size: 240px;
    font-weight: bold;
}
.article-subtitle {
    display: flex;
    gap: 32px;
    align-items: center;    
}
.article-subtitle h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 6px;
    color: #FBD784;
    margin: 0;
    padding: 0;
}
.article-line {
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}
.article-title h2 {
    font-size: 50px;
    font-family: "STIX Two Text", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.article-text {
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
}
.article-link {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: #FBD784;
}
.article-link {
    font-size: 18px;
    font-weight: bold;
}
.footer {    
    width: 100%;
    min-height: 280px;
    margin-bottom: 300px;
}
    
.footer-container {
    display: flex;
    align-items: flex-start;      
    width: 100%;   
    margin: auto;    
    background-color: transparent;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-rihgt {    
    display: flex;
    flex-direction: column;                  
}

.footer-links a {
    display: block;
    margin-bottom: 24px;
}
.footer-privacy {
    margin-top: 120px;
}
.footer-left {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.footer-left ul {
    margin: 0;
    padding: 0;
    list-style: none;    
}
h4 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #FBD784;
}
li {
    padding: 8px 0;
    font-size: 18px;
    line-height: 32px;
}
@media (max-width: 1200px) {
    .top-container {        
        padding: 60px 20px;
    }
    
    .main-box {
        margin-top: 100px;
    }
    .main-title {
        font-size: 70px;
        line-height: 80px;
    }
    .main-darkness {
        top: 100%;
    }    
    .article-box {
        flex-direction: column;
        gap: 80px;
        margin-bottom: 10%;       
    }
    .articles {
        margin-top: 55%;
    }
    .article-image {
        width: 80%;
        margin: auto;               
    }    
   
}
@media (min-width: 991px) and (max-width: 1160px) {
    .main-darkness {
        top: 85%;
    }
    .main-title {
        font-size: 50px;
        line-height: 60px;
    }
    .articles {
        margin-top: 45%;
    }
    .article-title h2 {
        font-size: 30px;
    }
}
@media (max-width: 991px) {
    
    .main-title {        
        font-size: 40px;
        line-height: 50px;        
    }
    .content-subtitile--span {
        font-size: 16px;
    }
    .article-subtitle h3 {
        font-size: 16px;
    }
    .article-title h2 {
        font-size: 30px;
    }
    .article-text {
        font-size: 16px;
        line-height: 24px;
    }
    .main-darkness {        
        top: 80%;        
    }
    .articles {
        margin-top: 50%;
    }
    
    .article-content {        
        padding: 60px;          
    }
    .article-count {        
        margin-top: -130px;
        margin-left: 95px;
        opacity: 10%;
    }    
    
    .footer-rihgt {
        margin-bottom: 100px;
    }
    .footer-left {
        gap: 100px;
    }
    li {
        font-size: 16px;
        line-height: 24px;
    }
}
@media (max-width: 930px) {
    .main-darkness {        
        top: 70%;        
    }
    .articles {
        margin-top: 45%;
    }
    
    
}
@media (max-width: 810px) {
    .main-darkness {        
        top: 60%;        
    }
    .main-box {
        margin-top: 100px;
    }
    
    .main-content {
        max-width: 500px;        
        padding-right: 30px;
        padding-left: 30px;        
    }        
    
    .article-title h2 {
        font-size: 20px;
    }
    .article-text {
        font-size: 14px;
        line-height: 20px;
    }
    
    .main-socials span {
        font-size: 16px;        
    }
    .main-socials img {
        width: 18px;
    }
    .main-scrolltext {       
        font-size: 16px;
    }
    .articles {
        margin-top: 15%;        
    }

    .article-box {   
        margin-top: 0;
        margin-bottom: 30px;     
        gap: 40px;
    }
    
    .article-count {        
        margin-top: -100px;
    }
    .article-count span {
        font-size: 140px;        
    }
    
}
@media (max-width: 768px) {
    .main-title {        
        font-size: 30px;
        line-height: 40px;        
    }
    .menu-button {
        display: flex;
    }
    .header {
        background-color: #0B1D26;
        opacity: 90%;
    }
    .header-nav {
        display: none;       
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 120px;
        background-color: #0B1D26;
        opacity: 90%;
        
    }
    .header-nav--visible {
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: #0B1D26;
        opacity: 90%;
        width: 100%;
        padding-top: 65px;
    }
    
    .header-mobile--fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
}


/*
        */